<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:,">
    <link rel="preload" href="../../css/font-awesome.min.css" as="style"
        onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet" href="./theme.css">
    <script src="../../script/clusterize.min.js"></script>
    <script src="../../script/vue.global.prod.js"></script>
    <script src="../../script/api.js"></script>
    <script src="../../script/split.min.js"></script>
    <script src="../../script/chart.js"></script>
    <script src="../../script/utils.js"></script>
</head>

<body>
    <div id="app" class="app">
        <nav>
            <!--MAIN-->
            <button :class="{'active': crrSection === 'MAIN'}" @click="debugCnt++; activateSection('MAIN')"><i
                    class="fa fa-table"></i></button>
            <!---->
            <button :class="{'active': crrSection === 'IO'}" @click="activateSection('IO')"><i
                    class="fa fa-microchip"></i></button>
            <button v-show="showImgTab" :class="{'active': crrSection === 'IMG'}" @click="activateSection('IMG')"><i
                    class="fa fa-image"></i></button>
            <button v-show="showStatTab" :class="{'active': crrSection === 'STATS'}"
                @click="activateSection('STATS')"><i class="fa fa-chart-pie"></i></button>
            <button :class="{'active': crrSection === 'TEST'}" v-show="!isAutoMode"
                @click="activateSection('TEST'); send_CycleTestButtonClick()"><i class="fa fa-flask"></i></button>
            <button :class="{'active': crrSection === 'MODEL'}" v-show="!isAutoMode"
                @click="activateSection('MODEL'); send_MakeModelButtonClick()"><i class="fa fa-cube"></i></button>
            <button :class="{'active': crrSection === 'LOG'}" @click="activateSection('LOG')"><i
                    class="fa fa-list"></i></button>
            <div style="flex:1"></div>
            <button @click="send_SettingButtonClick()"><i class="fa fa-gear"></i></button>
            <button @click="toggleTheme()"><i class="fa fa-adjust"></i></button>
        </nav>

        <div class="split" id="vertical-split">
            <div class="split__panel--top">
                <!------------------------->
                <!--SECTION: CYCLE RESULT-->
                <!------------------------->
                <section v-show="crrSection==='MAIN' || crrSection==='IO' || crrSection=='LOG' || crrSection=='IMG' || crrSection==='TEST'"
                    class="section--main">
                    <cycle-info-card :status="cycleInfo.status" :model="cycleInfo.model" :tag="cycleInfo.tag"
                        :vin="cycleInfo.vin" :seq="cycleInfo.seq">
                    </cycle-info-card>
                    <div class="section--main__result-container">
                        <result-table v-for="(table,index) in resultTables" :key="index" :table="table"></result-table>
                    </div>
                </section>

                <!----------------------->
                <!--SECTION: IMG VIEWER-->
                <!----------------------->
                <section v-show="showImgTab && crrSection==='IMG'" class="section--img">
                    <h3 class="section__title"><i class="fa fa-image"></i>&nbsp;IMAGE VIEWER</h3>
                    <div class="section__img-container">
                        <img-viewer v-for="(img, index) in imgViewers" :key="'IMG-'+index"
                            :ref="`imgViewer-${img.name}`">
                        </img-viewer>
                    </div>
                </section>

                <!----------------->
                <!--SECTION: MAIN-->
                <!----------------->
                <section v-show="crrSection==='MAIN'" class="section--history">
                    <h3 class="section__title section__title--history"><i class="fa fa-table"></i>&nbsp;PRODUCTION HISTORY</h3>
                    <stat-view ref="statView"></stat-view>
                    <history-table ref="historyTable" @show-ng-only="handleShowNGOnly"></history-table>
                </section>

                <!---------------------->
                <!--SECTION: IO VIEWER-->
                <!---------------------->
                <section v-show="crrSection==='IO'" class="section--io">
                    <h3 class="section__title"><i class="fa fa-microchip"></i>&nbsp;IO MAP</h3>
                    <div class="section__io-container">
                        <io-viewer v-for="(iomap, index) in ioViewers" :key="'IO-'+index"
                            :ref="`ioViewer-${iomap.name}`">
                        </io-viewer>
                    </div>
                </section>

                <!--------------------->
                <!--SECTION: TEST    -->
                <!--------------------->
                <section v-show="crrSection==='TEST'" class="section--test">
                    <cycle-test ref="cycleTest"></cycle-test>
                </section>

                <!------------------------>
                <!--SECTION: MODEL MAKER-->
                <!------------------------>
                <section v-show="crrSection==='MODEL'" class="section--model">
                    <model-maker ref="modelMaker"></model-maker>
                </section>

            </div>

            <div class="split__panel--bottom">
                <section class="section--log">
                    <log-viewer ref="logViewer"></log-viewer>
                </section>
            </div>
        </div>
    </div>

    <!-- Vue.js -->
    <script src="sample-data.js"></script>
    <script src="./cycle-info-card.js"></script>
    <script src="./result-table.js"></script>
    <script src="./log-viewer.js"></script>
    <script src="./stat-view.js"></script>
    <script src="./io-view.js"></script>
    <script src="./img-view.js"></script>
    <script src="./history-table.js"></script>
    <script src="./model-maker.js"></script>
    <script src="./cycle-test.js"></script>

    <script>

        const { createApp } = Vue;
        const sections = ['MAIN', 'LOG', 'IO', 'IMG', 'STATS', "MODEL", "TEST"];
        const app = createApp({
            components: {
                'cycle-info-card': window.CycleInfoCard,
                'result-table': window.ResultTable,
                'log-viewer': window.LogViewer,
                'stat-view': window.StatView,
                'io-viewer': window.IOViewer,
                'img-viewer': window.ImgViewer,
                'history-table': window.HistoryTable,
                'model-maker': window.ModelMaker,
                'cycle-test': window.CycleTest,
            },

            data() {
                return {
                    //mode
                    isAutoMode: false,
                    debugCnt: 0,

                    //current section
                    crrSection: 'MAIN',
                    splitter: null,
                    fullLogSplitterSizes: [0, 100],
                    logSplitterSizes: [80, 20],

                    //
                    cycleInfo: {
                        status: '',
                        model: 'A',
                        tag: 'TAG',
                        vin: 'VINNUMBER',
                        seq: 'SEQ001'
                    },

                    resultTables: [],

                    ioViewers: [
                        // { name: 'R1.PLC', iomap: null },
                        // { name: 'R2.PLC', iomap: null },
                        // { name: 'R3.PLC', iomap: null },
                    ],

                    imgViewers: [
                        { name: 'View1', src: '' },
                        { name: 'View2', src: '' },
                        { name: 'View3', src: '' }
                    ],

                    sectionMainExpanded: true,
                    //show / hide
                    showStatTab: false,
                    showImageTab: false,
                }
            },
            computed: {

            },
            methods: {
                //TOGGLE THEME
                toggleTheme() {
                    const body = document.body;
                    if (body.getAttribute('data-theme') === 'light') {
                        body.removeAttribute('data-theme');
                        localStorage.setItem('theme', 'dark');
                        CSharpUtils.sendMessage({ type: 'theme_changed', value: 'dark' });
                    } else {
                        body.setAttribute('data-theme', 'light');
                        localStorage.setItem('theme', 'light');
                        CSharpUtils.sendMessage({ type: 'theme_changed', value: 'light' });
                    }
                },
                initTheme() {
                    const savedTheme = localStorage.getItem('theme');
                    if (savedTheme === 'light') {
                        document.body.setAttribute('data-theme', 'light');
                    } else { document.body.removeAttribute('data-theme'); }
                },
                isFullLog() { return this.crrSection === 'LOG'; },

                activateSection(section) {
                    if (sections.includes(section)) {
                        this.crrSection = section;
                        //dont save MODEL or TEST section to local storage
                        if (this.crrSection != 'MODEL' && this.crrSection != 'TEST') {
                            localStorage.setItem('crrSection', section);
                        }
                    }
                    //render history table if switch to MAIN
                    if (section === 'MAIN') {
                        this.$nextTick(() => { this.$refs.historyTable.render(); });
                    }
                    // if (section === 'MODEL') {
                    //     CSharpUtils.sendMessage({ type: 'make_model_get_state' });
                    // }
                    this.adjustLogSplitter();
                },

                toggleSection(section) {
                    if (section === 'MAIN') {
                        this.sectionMainExpanded = !this.sectionMainExpanded;
                    }
                },

                initSection() {
                    const savedSection = localStorage.getItem('crrSection');
                    if (sections.includes(savedSection)) {
                        this.crrSection = savedSection;
                    } else { this.crrSection = 'MAIN'; }
                },

                setIOViewerRef(el, index) { if (el) { this.ioViewerRefs[index] = el; } },

                handleShowNGOnly(showNG) {
                    this.showNGOnly = showNG;
                    this.$refs.statView.showNGOnly(showNG);
                }
                ,
                // Add this new method
                initVerticalSplit() {
                    this.loadSavedSplitSizes();
                    // Initialize vertical split (top/bottom panels)
                    this.splitter = Split(['#vertical-split .split__panel--top', '#vertical-split .split__panel--bottom'], {
                        sizes: [80, 20],              // Top panel 60%, bottom panel 40%
                        minSize: [100, 100],          // Minimum sizes in pixels
                        gutterSize: 3,                // Splitter height
                        cursor: 'row-resize',         // Cursor style
                        direction: 'vertical',        // Split direction
                        onDragEnd: (sizes) => {
                            if (this.isFullLog()) {
                                this.fullLogSplitterSizes = sizes;
                                localStorage.setItem('fullLogSplitterSizes', JSON.stringify(sizes));
                            }
                            else {
                                this.logSplitterSizes = sizes;
                                localStorage.setItem('logSplitterSizes', JSON.stringify(sizes));
                            }
                        }
                    });
                    this.adjustLogSplitter();
                },
                // Adjust splitter sizes based on current section
                adjustLogSplitter() {
                    this.splitter.setSizes(this.isFullLog() ? this.fullLogSplitterSizes : this.logSplitterSizes);
                    this.$nextTick(() => {
                        this.$refs.logViewer.updateVisibleRange(); // Refresh log viewer layout;
                        this.$refs.logViewer.scrollToBottom(); // Refresh log viewer layout;
                    });
                },

                // Load saved split sizes
                loadSavedSplitSizes() {
                    const logSplitterSizes = localStorage.getItem('logSplitterSizes');
                    const fullLogSplitterSizes = localStorage.getItem('fullLogSplitterSizes');
                    this.fullLogSplitterSizes = fullLogSplitterSizes ? JSON.parse(fullLogSplitterSizes) : [0, 100];
                    this.logSplitterSizes = logSplitterSizes ? JSON.parse(logSplitterSizes) : [80, 20];
                },

                //IO MAPS
                setPlcPinmap(data) {
                    //check if data is array
                    if (Array.isArray(data)) {
                        this.ioViewers = data;
                    }
                    else this.ioViewers = [data];

                    //clear previous iomap ref
                    Object.keys(this.$refs).forEach(refKey => {
                        if (refKey.startsWith('ioViewer-')) {
                            delete this.$refs[refKey];
                        }
                    });

                    this.$nextTick(() => {
                        for (const viewer of this.ioViewers) {
                            this.$refs[`ioViewer-${viewer.name}`][0].setIOMap(viewer.name, viewer.iomap);
                        }
                    });
                },
                setInputPin(pinname, value) {
                    for (const viewer of this.ioViewers) {
                        this.$refs[`ioViewer-${viewer.name}`][0].setInputPin(pinname, value);
                    }
                },
                setOutputPin(pinname, value) {
                    for (const viewer of this.ioViewers) {
                        this.$refs[`ioViewer-${viewer.name}`][0].setOutputPin(pinname, value);
                    }
                },
                //IMG VIEWER
                setImageViewers(titles) {
                    //set image viewers by titles array
                    this.imgViewers = [];
                    titles.forEach((title, index) => {
                        this.imgViewers.push({ name: title, src: '' });
                    });
                    //clear previous img viewer ref
                    Object.keys(this.$refs).forEach(refKey => {
                        if (refKey.startsWith('imgViewer-')) {
                            delete this.$refs[refKey];
                        }
                    });
                    this.$forceUpdate();
                },

                async fetchImage(url) {
                    try {
                        const response = await fetch(url);
                        if (!response.ok) {
                            throw new Error(`HTTP error! status: ${response.status}`);
                        }
                        return await response.blob();
                    } catch (error) {
                        console.error('Failed to fetch image:', error);
                        return null;
                    }
                },

                async setImage(data) {
                    // Update single image viewer by id with base64 data or URL
                    if (data.id === undefined) return;
                    if (this.imgViewers[data.id] === undefined) return;
                    const viewer = this.imgViewers[data.id];

                    this.$nextTick(async () => {
                        const refKey = `imgViewer-${viewer.name}`;
                        const ref = this.$refs[refKey];
                        if (!ref) return;
                        const iv = ref[0];
                        if (!iv) return;

                        if (data.data) {
                            // Base64 data
                            iv.setImageBase64(data.title || viewer.name, data.data);
                        }
                        else if (data.url) {
                            try{
                                const response = await fetch(data.url);
                                await iv.setImageFromResponse(data.title || viewer.name, response);
                            }catch(err){
                                console.error('Failed to fetch image from URL:', err);
                            }
                        }
                    });
                },

                clearImages() {
                    // Clear all image viewers by setting empty source
                    this.$nextTick(() => {
                        for (const viewer of this.imgViewers) {
                            const refKey = `imgViewer-${viewer.name}`;
                            if (this.$refs[refKey] && this.$refs[refKey][0]) {
                                this.$refs[refKey][0].setImage(viewer.name, '');
                            }
                        }
                    });
                },

                //LOGS
                addLogEntries(entries) {
                    this.$refs.logViewer.addEntries(entries);
                },
                //STATS
                setHourlyData(data) {
                    this.$refs.statView.renderHourlyChart(data, this.showNGOnly);
                },
                setCounters(data) {
                    const okCount = data?.ok || 0;
                    const ngCount = data?.ng || 0;
                    this.$refs.statView.renderPieChart(okCount, ngCount);
                },
                //RESULT TABLE
                setResultTable(data) {
                    this.resultTables = []; //clear
                    if (Array.isArray(data)) {
                        this.resultTables = data;
                    } else {
                        this.resultTables = [data];
                    }
                },
                setResultTag(data) {
                    if (!data) return;
                    const table = this.resultTables[data.id];
                    table?.rows?.forEach(row => {
                        if (row.name && row.name.value === data.name) {
                            row.name.tag = data.tag;
                        }
                    });
                },
                //HISTORY TABLE
                setHistory(data) {
                    this.$refs.historyTable.updateTable(data);
                },
                //BUTTONS
                send_MakeModelButtonClick() {
                    CSharpUtils.sendMessage({ type: 'model_button_click' });
                },
                send_CycleTestButtonClick() {
                    CSharpUtils.sendMessage({ type: 'cycle_test_refresh' });
                },
                send_SettingButtonClick() {
                    CSharpUtils.sendMessage({ type: 'setting_button_click' });
                },
                //CYCLE INFO
                //MAKE MODEL
                setMakeModelState(value) { this.$refs.modelMaker.setState(value); },
                clearMakeModelState() { this.$refs.modelMaker.clearState(); },

                //cycle test
                setCycleTestState(value) { this.$refs.cycleTest.setState(value); },
                setCycleTestModels(value) { this.$refs.cycleTest.setModels(value); },
                clearCycleTestState() { this.$refs.cycleTest.clearState(); },

                //mode
                setMode(auto) {
                    this.isAutoMode = auto;
                    if (this.isAutoMode && (this.crrSection === 'MODEL' || this.crrSection === 'TEST')) {
                        this.activateSection('MAIN');
                    }
                },

                //SHOW / HIDE TABS
                setShow(data) {
                    if (data['key'] === 'STATS') {
                        this.showStatTab = data['value'];
                    }
                    else if (data['key'] === 'IMG') {
                        this.showImgTab = data['value'];
                    }
                    this.$forceUpdate();
                },
            },
            mounted() {
                this.initTheme();
                this.initSection();
                this.$nextTick(() => { this.initVerticalSplit(); });

                //init API
                API.init();
                //set current theme
                CSharpUtils.sendMessage({ type: 'theme_changed', value: document.body.getAttribute('data-theme') || 'dark' });

                if (window.chrome.webview) {
                    // Disable right-click context menu
                    document.addEventListener('contextmenu', event => event.preventDefault());
                    return;
                }
                //---test code---
                this.setPlcPinmap(SampleData.generatePinmaps());
                this.addLogEntries(SampleData.generateLogs(1000));
                this.showImgTab = true;
                this.clearImages();
                this.setImage({ id: 0, data: SampleData.generateImage() });
                // this.setImage({ id: 1, data: SampleData.generateImage() });
                // this.setImage({ id: 2, data: SampleData.generateImage() });

                setInterval(() => {
                    this.cycleInfo = SampleData.generateCycleInfo();
                    this.setResultTable(SampleData.generateResultTables());
                    this.setHistory(SampleData.generateHistoryData(50));
                    // this.addLogEntries(SampleData.generateLogs(5));
                }, 1000);

                //---------------
            },
            watch: {
                debugCnt(newVal) {
                    const dt = performance.now() - this.debugT0;
                    this.debugT0 = performance.now();
                    if (dt > 500) { this.debugCnt = 0; }
                    if (this.debugCnt > 5) {
                        this.debugCnt = 0;
                        console.log("Debug mode activated");
                        CSharpUtils.sendMessage({ type: 'open_dev_tool' });
                    }
                }
            },
            //clearn up
            beforeUnmount() {
                if (this.splitter) {
                    this.splitter.destroy();
                    this.splitter = null;
                }
            }
        }).mount('#app');
        window.app = app; 
    </script>
</body>

</html>